{% extends 'index.html' %}
{% load static %}
{% block title %}
Dashboard
{% endblock %}
{% block main %}
    <!-- BOF MAIN -->
    <div class="main">

        <!-- BOF Breadcrumb -->
        <div class="row">
            <div class="col">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:;"><i class="ti-home"></i> Dashboard</a></li>
                </ol>
            </div>
        </div>
        <!-- EOF Breadcrumb -->

        <!-- BOF MAIN-BODY -->
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="icon-left text-secondary"><i class="ti-bar-chart"></i></div>
                        <div class="number-right text-right">
                            <h6 class="bold text-secondary">Total Books</h6>
                            <h3 class="card-title text-warning bold">{{total_books}}</h3>
                        </div>
                        <div class="progress progress-bar-sm">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 75%" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress-text text-secondary">
                            <span class="float-left"><small>Accessed Books</small></span>
                            <span class="float-right"><small>{{total_books}}</small></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="icon-left text-secondary"><i class="ti-receipt"></i></div>
                        <div class="number-right text-right">
                            <h6 class="bold text-secondary">Total Racks</h6>
                            <h3 class="card-title text-primary bold">{{total_racks}}</h3>
                        </div>
                        <div class="progress progress-bar-sm">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress-text text-secondary">
                            <span class="float-left"><small>Accessed Racks</small></span>
                            <span class="float-right"><small>{{total_racks}}</small></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="icon-left text-secondary"><i class="ti-wallet"></i></div>
                        <div class="number-right text-right">
                            <h6 class="bold text-secondary">Total Department</h6>
                            <h3 class="card-title text-bubblegum bold">{{total_department}}</h3>
                        </div>
                        <div class="progress progress-bar-sm">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-bubblegum" role="progressbar" style="width: 30%" aria-valuenow="30"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress-text text-secondary">
                            <span class="float-left"><small>Accessed Departmenttemplates/student/ledger.html</small></span>
                            <span class="float-right"><small>{{total_department}}</small></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- EOF MAIN -->
{% endblock %}