{% extends 'index.html' %}
{% load static %}
{% block title %}
Dashboard
{% endblock %}
{% block main %}
    <!-- BOF MAIN -->
    <div class="main">
        <!-- BOF Breadcrumb -->
        <div class="row">
            <div class="col  d-flex justify-content-between">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/library"><i class="ti-home"></i> Library</a></li>
                </ol>
                <!-- <div>
                    <a href="/edit-library/{{library_name}}/{{department_name}}/{{rack_name}}"><button type="button" class="btn btn-flat mb-1 btn-outline-info"><i class="fas fa-pencil-square-o"></i> Edit</button></a>
                    <a href="/delete/{{library_name}}/{{department_name}}/{{rack_name}}"><button type="button" class="btn btn-flat mb-1 btn-outline-danger"><i class="ti-trash"></i> Delete</button></a>
                </div> -->
            </div>
        </div>
        <!-- EOF Breadcrumb -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="caption uppercase">
                            <i class="ti-briefcase"></i> Ledger of Books
                        </div>
                        <div class="tools">
                            <button data-toggle="modal" data-target="#addLedgerEntryModal" aria-labelledby="addLibraryModalTitle" class="btn btn-sm btn-primary"><i class="ti-file"></i> Add</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover init-datatable" id="">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Student</th>
                                        <th>Roll No</th>
                                        <th>ISBN</th>
                                        <th>Check-Out Date</th>
                                        <th>Check-In Date</th>
                                        <th>Status</th>
                                        <th>Check Status</th>
                                        <th>Is Overdue</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for log in ledger %}
                                    <tr>
                                        <td><a href="/student-detail/{{log.user.id}}">{{ log.user.username|capfirst }}</a></td>
                                        <td>{{ log.roll_no }}</td>
                                        <td>{{ log.isbn }}</td>
                                        <td>{{ log.checkout_date }}</td>
                                        <td>{{ log.checkin_date }}</td>
                                        <td class="text-center">
                                            {% if log.is_pending  %}
                                            <a href="/approve-book-request/{{log.id}}" class="btn btn-sm btn-success" title="Approve">
                                                <i class="ti-check"></i> Approve
                                            </a>
                                            <a href="/reject-book-request/{{log.id}}" class="btn btn-sm btn-danger" title="Reject">
                                                <i class="ti-na"></i> Reject
                                            </a>
                                            {% elif log.is_approved %}
                                            <span class="badge badge-success">Approved</span>
                                            {% elif log.is_rejected %}
                                            <span class="badge badge-danger">Rejected</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if log.is_checked_out %}
                                                {% if log.is_checked_in %}
                                                <span class="badge badge-info">Checked In</span>
                                                {% else %}
                                                <span class="badge badge-success">Checked Out</span>
                                                <a href="/check-in-book/{{log.id}}" class="btn btn-sm btn-info" title="Check In">
                                                    <i class="ti-check"></i> Check In
                                                </a>
                                                {% endif %}
                                            {% elif log.is_approved %}
                                            <a href="/check-out-book/{{log.id}}" class="btn btn-sm btn-primary" title="Check Out">
                                                <i class="ti-check"></i> Check Out
                                            </a>
                                            {% elif log.is_rejected %}
                                            <span class="badge badge-danger">Rejected</span>
                                            {% elif log.is_pending %}
                                            <span class="badge badge-warning">Pending</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if log.is_overdue %}
                                            <span class="badge badge-danger">Overdue</span>
                                            {% else %}
                                            <span class="badge badge-success">Not Overdue</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- EOF MAIN -->
{% endblock %}